NEXT_PUBLIC_API_URL_BENGKEL_KODING=http://localhost:8080
NEXT_PUBLIC_GETAPICLASSROOM_URL_BENGKEL_KODING=http://localhost:8080

# link endpoint api login with google
NEXT_PUBLIC_API_LOGIN_WITH_GOOGLE=http://localhost:8080